@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  overflow-x: hidden;
  /* background-color: #0b1113;
  background-image: url(../public/assets/bg/background.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
  background-color: #0b1013;
}

@font-face {
  font-family: satoshi;
  src: url(../fonts/Satoshi-Variable.ttf);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #0b1013;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #0b1013;
}

::-webkit-scrollbar-thumb {
  background-color: #ea2899;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.swiper-pagination-bullet {
  background-color: #ffffff !important;
}

.swiper-pagination-bullet-active {
  background-color: #ea2899 !important;
}

.card {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  background-image: url(../public/assets/send-email/mendax-email-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  /* box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform; */
}

@media screen and (min-width: 640px) {
  .card {
    width: 500px;
    height: 500px;
  }
}
/* 
.card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
} */
